@import '../style/base/variables';
@import '../style/utils/mixins';

.header {
  position: relative;
  min-height: 44px;
  text-align: center;
  background-color: $red;
}

.title {
  padding: 10px 0 12px;
  font-size: 1.2rem;
  color: $white;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  color: $white;
  font-size: 1.5rem;
}
