// 공통만 변수로 선언하고, 개별적인 스타일은 해당 클래스에 직접 선언한다.
// 글꼴
$font-stack: (
    Helvetica,
    AppleSDGothicNeo,
    HelveticaNeue,
    sans-serif
);

// 굵기
$font-weight-light: 400;
$font-weight-regular: 400;
$font-weight-bold: 700;

// 크기
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-large: 24px;
$font-size-huge: 36px;
$font-size-giant: 44px;

// Brand(main) Colors
$red: #c92a2a;
$darkish-pink: rgba(152, 36, 68, 1);
$yellow: #fcc419;
$green: #37b24d;

// Greyscale Colors
$white:        rgba(255,255,255,1);
$iron:         #f8f9fa;
$regent-gray:  #f1f3f5;
$light-gray:   #e9ecef;
$gray:         #dee2e6;
$darkish-gray: #ced4da;
$dark-gray:    #495057;
$black:       rgba(0,0,0,1);

// Usage Color _ 실 사용 색상
$dimmed: rgba($black, 0.6);
$color-text: $dark-gray;
$color-text-disabled: $iron;
$color-text-primary: $darkish-pink;
$color-text-active: $darkish-gray;
$color-text-link: $darkish-gray;
$color-text-link-visited: $color-text-primary;
$color-text-link-hover: $gray;

$bg-body: $iron;

// resolutions
$mobile: 320px;
$tablet: 768px;
$screen: 1024px;
