// 2016-05-10 v.1 임의로 변경 불가
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {
	margin: 0;
	padding: 0;
}
body,h1,h2,h3,h4,h5,h6,input,textarea,select,button,table {
	font-family: $font-stack;
	color: $light-text;
	-webkit-text-size-adjust: none;
       -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color:transparent;
}
body {
	background-color: $background-body;
	-ms-word-break: break-all;
		word-break: break-all;
  line-height: 1;
}
img,fieldset,iframe {
	border: 0 none;
}
dl,ul,ol,menu,li {
	list-style: none;
}
input {
	padding: 0;
	border: 0 none;
	outline: none;
}
input,select,button,label {
	vertical-align: middle;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}
img {
	border: 0;
	vertical-align: top;
	width: 100%;
}
select {
	background: none;
	outline: none;
	text-overflow: '';
}
i,em,address {
	font-style: normal;
}
label,button,a {
	cursor: pointer;
	text-decoration: none;
}
hr {
	display: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table caption {
	margin: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	resize: none;
	outline: none;
}
button,input,textarea,select,td,th {
	font-family: $font-stack;
}
button {
	outline: none;
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a {
	text-decoration: none;
	cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
	margin: 0;
	padding: 0;
}
